.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/c1a80fdc2c26a52bfef2337b950dd4f7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


div.cb1{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color:rgba(188, 143, 143, 0.7);
    color:rgb(255, 232, 230);
    text-align: center;
    font-size: 25px;
    border: 2px dashed;
    border-color:rgb(253, 225, 222);
    border-radius: 40px;
    margin: 30px;
    font-family: serif


}
.wen7{
    width: 35%;
    margin: 20px;
}

.cb2{
    color:peachpuff;
}


p{
    text-indent: 20px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans TC', sans-serif;
    }
    p {
        font-family: 'Noto Serif TC',sans-serif;
    }

.expedu_icon{
    color:papayawhip
}

.expedu_icon:hover{
    color:pink
}

table.wentable{
    width: 80%;
    background-color: rosybrown;

}
table.wentable th{
    text-align: center;
    color: antiquewhite;
    border: 1px solid peachpuff

}
table.wentable td{
    text-align: center;
    background-color: linen;
    color: rgba(188, 143, 143, 0.7);
    border: 1px solid peachpuff;
    border-collapse: collapse;


}
.wenn{
    background-color: lightcoral;
    color: bisque;
    border-radius: 5px;
    margin: 5%;
    box-sizing: border-box;
    width:10% ;
    overflow: scroll;
    width: 20%;
    height: 100px;
}
.my1{
    color: dimgrey;
    font-size: 1.25rem;
    font-weight: 300;

}
.wen1{
    color: bisque;
    background-color: rosybrown;
}
.wen2{
    color: darksalmon;
    font-size: 100px;
    font-weight: 400;
    text-align: center;


}
.wen3{
    color: lightcoral;
    font-size: 50px;
    font-weight: 100;
}
.wen4{
    color:mistyrose;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}